* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ds-font-body);
  font-size: var(--ds-font-size-base);
  color: var(--ds-color-text);
  background-color: var(--ds-color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ds-font-heading);
}

.ds-flex {
  display: flex;
}

.ds-center {
  justify-content: center;
  align-items: center;
}

.ds-m-1 {
  margin: 0.25rem;
}
.ds-p-1 {
  padding: 0.25rem;
}
